/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #222222;
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
  max-width: 700px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: baseline;
    column-gap: 12px;

    .badge {
      font-size: 12px;
      font-weight: bold;
      width: 72px;
      height: 20px;
      border-radius: 20px;
      display: grid;
      place-items: center;

      &.draft {
        background-color: yellow;
      }

      &.failed {
        color: white;
        background-color: red;
      }

      &.success {
        color: white;
        background-color: green;
      }
    }
  }

  .btn-download {
    background-color: #222222;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

main {
  .dropzone {
    margin-top: 20px;
    border-color: #acacac;
    display: flex;
    justify-content: center;

    &-label {
      color: #acacac;
      font-weight: bold;
    }

    &-preview {
      &-label {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 13px;
      }
    }
  }
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  column-gap: 12px;

  .btn-reset,
  .btn-import {
    outline: none;
    border: none;
    font-size: 16px;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      cursor: no-drop;
    }
  }

  .btn-reset {
    background-color: white;
    border: 1px solid #222222;

    &:disabled {
      background-color: rgba(#222222, 0.1);
      border: 1px solid rgba(#222222, 0.5);
    }
  }

  .btn-import {
    background-color: #222222;
    color: white;

    &:disabled {
      background-color: rgba(#222222, 0.7);
    }
  }
}

.preview-json {
  height: 300px;
  overflow: auto;
  margin-top: 20px;
  padding: 12px;
  background-color: #222222;

  pre {
    color: white;
    font-size: 12px;
  }

  .is-processing {
    font-weight: semibold;
  }
}

.error-container {
  margin-top: 20px;

  table,
  td,
  th {
    border: 1px solid red;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(red, 0.1);
  }

  th,
  td {
    padding: 4px;
    font-size: 12px;
    color: red;

    p {
      color: red;
    }
  }
}
